body {
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
    color: #00BFFF; /* Celeste */
  }
  
  form {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px; /* Agregamos espacio de margen a la derecha */
    border: none;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #00BFFF; /* Celeste */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error-message {
    display: none;
    color: red;
    margin-top: 5px;
  }
  .error-message-show{
    display: block;
    color: red;
    margin-top: 5px;
    width: 100%;
    padding: 10px;

  }
  .none{
    display: none;
  }
  input:invalid ~ .error-message {
    display: block;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  
  .delete-button {
    background-color: #00BFFF; /* Celeste */
    color: white;
    border: none;
    border-radius: .5em;
    padding: .7em;
    cursor: pointer;
    font-size: 12px;
    margin-left: auto;
  }
  